* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

/* Toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 24px 14px 24px;
  background-color: #fff;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu img {
  width: 18px;
  height: 12px;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* becomes flex on desktop */
  justify-content: space-between;
  gap: 32px;
}

.nav-menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.nav-menu a:hover {
  color: #6070ff;
}

/* Headline */
.headline {
  background-color: #fff;
  background-image: url("img/header-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 70px;
  gap: 12px;
}

.headline h1 {
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.blue-title {
  margin: 0;
  padding: 0;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
}

.media-bar {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 21px;
  margin: 0;
}

.social-icon {
  width: 25px;
  height: 25px;
  padding: 3px;
}

.social-icon:hover {
  box-shadow: 1px 1px 5px #6070ff;
  border-radius: 3px;
}

/* Works Grid */
.works-page {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  gap: 88px;
  padding: 24px;
  margin-top: 114px;
  margin-bottom: 114px;
}

.work-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.work-snapshot {
  width: 100%;
  border-radius: 8px;
}

.work-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work-detail h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
  padding: 0;
}

.work-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  color: #7a869a;
  list-style: none;
}

.work-info .circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
}

.work-info .author {
  color: #344563;
  font-weight: 500;
  text-transform: uppercase;
}

.work-description {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-tags {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  color: #6070ff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: flex;
  gap: 8px;
}

.work-tags li {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}

.btn {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  height: 48px;
  color: #396df2;
  letter-spacing: 0.03em;
  padding: 12px;
  background-color: #fff;
  border: solid 1px #6070ff;
  border-radius: 8px;
  margin: 0;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn:focus {
  background-color: #2230d2;
  color: #fff;
}

.btn:disabled {
  border-color: #c1c7d0;
  color: #5e6c84;
}

.see-project-btn {
  width: 124px;
  margin-bottom: 12px;
}

/* About me section  */
.about-page {
  background-color: #fff;
  padding: 114px 24px;
  display: grid;
  border-top-right-radius: 70px;
}

.about-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-detail h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.btn.get-resume-btn {
  width: 162px;
}

/* Skill list  */
.skill-list {
  list-style: none;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.skill header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 12px;
  border-bottom: solid 1px #dfe1e6;
}

.skill.open header {
  border: none;
}

.skill h3 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.lang-container {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.language {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 9px 12px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.language p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #253858;
}

.lang-logo {
  width: 48px;
  height: 48px;
}

.arrow {
  width: 12px;
  height: 12px;
}

.arrow.down-arrow {
  transform: rotate(90deg);
}

/* Contact Page */
.contact-page {
  background-color: #fff;
}

.contact-form {
  background-color: #6070ff;
  background-image: url("img/form-bg-mobile.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 24px;
  border-top-left-radius: 80px;
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  margin: 100px 0 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact-form p {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 12px 0 50px 0;
  padding: 0;
}

.contact-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form li {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.contact-form input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 20px;
  width: 100%;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
  border: solid 1px #cfd8dc;
  border-radius: 8px;
}

.contact-form input::placeholder,
textarea::placeholder {
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.contact-btn {
  width: 140px;
}

/* Desktop version  */
@media (min-width: 768px) {
  /* Remove hamburger and display nav links */
  .nav-menu img {
    display: none;
  }

  .nav-menu ul {
    display: flex;
  }

  /* Change headline */
  .headline {
    background-image: url("img/header-bg-desktop.png");
    padding: 0 20% 0 20%; /* Exact padding on template is too much for medium screen */
  }

  .headline h1 {
    font-size: 48px;
    color: #091e42;
  }

  .headline p {
    font-size: 20px;
    line-height: 28px;
  }

  /* Projects section */
  .works-page {
    gap: 142px;
    padding: 10%;
  }

  .work-card {
    flex-direction: row;
    gap: 30px;
    padding: 20px 40px 20px 20px;
  }

  /* Move image to right */
  .work-card:nth-child(even) {
    flex-direction: row-reverse;
    padding: 20px 20px 20px 40px;
  }

  .work-snapshot {
    max-width: 50%;
    height: auto;
  }

  .work-detail {
    padding-top: 24px;
    gap: 10px;
  }

  .work-detail h2 {
    font-size: 40px;
    color: #091e42;
    line-height: 52px;
  }

  .work-tags {
    margin-top: 14px;
  }

  .work-info {
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .work-description {
    font-size: 16px;
  }

  /* About Page */
  .about-page {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-left: 100px;
    padding-right: 40px;
  }

  .about-detail h2 {
    color: #091e42;
  }

  .get-resume-btn {
    margin-top: 30px;
  }

  .skill-list {
    margin: 0;
  }

  .lang-container {
    flex-direction: row;
  }

  .language {
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
    height: 120px;
  }

  /* Contact Form */
  .contact-form {
    background-image: url("img/form-bg-desktop.png");
    padding-left: 30%;
    padding-right: 30%;
  }

  .contact-form li {
    justify-content: center;
  }
}
