* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

/* Toolbar */
header {
  display: flex;
  justify-content: space-between;
  padding: 14px 24px 14px 24px;
  background-color: #fff;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-menu img {
  width: 18px;
  height: 12px;
}

/* Headline */
.headline {
  background-color: #fff;
  background-image: url("img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 55px;
}

.headline h1 {
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 0;
}

.headline p {
  font-size: 16px;
  color: #344563;
}

.headline .blue-text {
  color: #7f8cff;
}

.media-bar {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 12px;
}

.social-icon {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.social-icon:hover {
  box-shadow: 1px 1px 5px #6070ff;
  border-radius: 3px;
}

/* Works Grid */
.works {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  gap: 88px;
  padding: 24px;
}

.work-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.work-card h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
  padding: 0;
}

.work-snapshot {
  width: 100%;
  border-radius: 8px;
}

.work-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-size: 13px;
  line-height: 16px;
  width: 236px;
  height: 32px;
  margin: 0;
  padding: 0;
  color: #7a869a;
  list-style: none;
}

.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
}

.work-info .author {
  color: #344563;
  text-transform: uppercase;
}

.work-description {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #6070ff;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  display: flex;
  gap: 8px;
}

.work-tags li {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}

.see-project-btn {
  font-size: 17px;
  line-height: 24px;
  width: 124px;
  height: 48px;
  color: #396df2;
  letter-spacing: 0.03em;
  padding: 12px;
  background-color: #fff;
  border: solid 1px #7f8cff;
  border-radius: 8px;
  margin-top: 24px;
}

.see-project-btn:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
}

.see-project-btn:focus {
  background-color: #2230d2;
  color: #fff;
}

.see-project-btn:disabled {
  border-color: #c1c7d0;
  color: #5e6c84;
}
